<br>
<%= form_for @country do |f| %>
<%= f.label :name, "Country Name:", class: "formleft" %>
<%= f.text_field :name, class: "formright" %>
<br>
<br>
<%= f.label :flag_image, "Country Flag (URL):", class: "formleft" %>
<%= f.text_field :flag_image, class: "formright" %>
<br>
<br>
<%= f.label :size, "Land Size:", class: "formleft" %>
<%= f.number_field :size, class: "formright" %>
<br>
<br>
<%= f.label :population, "Country Population:", class: "formleft" %>
<%= f.number_field :population, class: "formright" %>
<br>
<br>
<%= f.label :demonym, "Demonym (Name Used):", class: "formleft" %>
<%= f.text_field :demonym, class: "formright" %>
<br>
<br>
<%= f.label :language, "Spoken Language:", class: "formleft" %>
<%= f.text_field :language, class: "formright" %>
<br>
<br>
<%= f.label :national_anthem, "Country National Anthem:", class: "formleft" %>
<%= f.text_field :national_anthem, class: "formright" %>
<br>
<br>
<%= f.label :currency, "Currency Used:", class: "formleft" %>
<%= f.select :currency, '<option>USDollar ($)</option><option>Euro (€)</option><option>Yen (¥)</option><option>Pound (£)</option><option>AUDollar ($)</option><option>Franc (Fr)</option><option>Canadian Dollar ($)</option><option>Peso ($)</option><option>Yuan (¥)</option><option">NZDollar ($)</option><option">Krona (kr)</option><option">Ruble (₽)</option><option">HKDollar ($)</option><option">Krone (kr)</option><option">Singapore Dollar ($)</option><option">Lira (₺)</option><option">Won (₩)</option><option">Rand (R)</option><option">Real (R$)</option><option">Rupee (₹)</option>'.html_safe, class: "formright" %>
<br>
<br>
<center>
  <%= f.submit 'Update Country', class: "bueton" %>
</center>
<% end %>