<center>
<br>
<%= link_to("back...", countries_path, class: "bueton") %> <%= link_to("edit...", edit_country_path(@country), class: "bueton") %> <%= button_to('delete...', country_path(@country), method: :delete, class: 'bueton', data:{confirm: 'Confirm Delete'}) %>
<br>
  <h2><%= @country.name %></h2>
<br>
<%= image_tag(@country.flag_image, alt: 'alt text is really required', width:200, class: "flagfield") %>
</center>
<br>
<br>
<p><%= @country.name %> has a population of <%= @country.population %>, known as <%= @country.demonym %> who are spread across <%= @country.size %> square km of land.</p>
<p>In <%= @country.name %> the most used language is <%= @country.language %> and the currency used is <%= @country.currency %>.</p>
<p>The national anthem of <%= @country.name %> can be heard here:</p>
<center><%= audio_tag(@country.national_anthem, autoplay: false, controls: true) %>