<nav>
  <ul>
    <li><%= link_to("Countries", countries_path) %></li>
    <li><%= link_to("Settlements", settlements_path) %></li>
    <li><%= link_to("Cash Converter", currencies_path) %></li>
  </ul>
</nav>
<%= form_tag(countries_path, method: "get") do %>
  <%= label_tag(:name, "Search for:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search", class: "navbueton") %>
<% end %>